<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegistrationCntrl</servlet-name>
  	<display-name>UserRegistrationCntrl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.UserRegistrationCntrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogIn</servlet-name>
  	<display-name>UserLogIn</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.UserLogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoIn</servlet-name>
  	<display-name>UserLoIn</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.UserLoIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInCtlr</servlet-name>
  	<display-name>LogInCtlr</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.LogInCtlr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCtrl</servlet-name>
  	<display-name>TestCtrl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.TestCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeCtr</servlet-name>
  	<display-name>WelcomeCtr</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.WelcomeCtr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetPasswordCtr</servlet-name>
  	<display-name>ForgetPasswordCtr</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.ForgetPasswordCtr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetCtr</servlet-name>
  	<display-name>MarksheetCtr</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.MarksheetCtr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCtl</servlet-name>
  	<display-name>TestCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.TestCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCookies</servlet-name>
  	<display-name>GetCookies</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.GetCookies</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetPasswordCtl</servlet-name>
  	<display-name>ForgetPasswordCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.ForgetPasswordCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentMgtCtl</servlet-name>
  	<display-name>StudentMgtCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.Controller.StudentMgtCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegistrationCntrl</servlet-name>
  	<url-pattern>/UserRegistrationCntrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogIn</servlet-name>
  	<url-pattern>/UserLogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoIn</servlet-name>
  	<url-pattern>/UserLoIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInCtlr</servlet-name>
  	<url-pattern>/LogInCtlr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCtrl</servlet-name>
  	<url-pattern>/TestCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeCtr</servlet-name>
  	<url-pattern>/WelcomeCtr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetPasswordCtr</servlet-name>
  	<url-pattern>/ForgetPasswordCtr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetCtr</servlet-name>
  	<url-pattern>/MarksheetCtr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCtl</servlet-name>
  	<url-pattern>/TestCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCookies</servlet-name>
  	<url-pattern>/GetCookies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetPasswordCtl</servlet-name>
  	<url-pattern>/ForgetPasswordCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentMgtCtl</servlet-name>
  	<url-pattern>/StudentMgtCtl</url-pattern>
  </servlet-mapping>
</web-app>
